<% include header %>

<h2>About Dick's Sporting Goods:</h2>
<div id="About_Center">
<p>DICK&#39;S Sporting Goods was founded in 1948 when an 18 year-old Dick Stack was working at an Army surplus store in Binghamton, New York. An avid fisherman, Dick was approached by the store owner to come up with a list of products needed to get into the fishing tackle business. After Dick presented his suggestions, the owner told him he was a dumb kid and had no idea what he was doing. Dick was upset and promptly quit. He went to his grandmother&#39;s house where he spent a lot of time as a kid and told her what had happened.</p>
<p>Dick&#39;s grandmother asked how much it would cost to build the store himself. Dick said it would cost $300. His grandmother then went to the cookie jar where she kept her life savings and gave him $300 and told him &#147;do it yourself.&#148; Dick used that money and his relentless work-ethic to open a bait-and-tackle shop in Binghamton. By 1958, he expanded his product line to include much of what you&#39;ll find at DICK&#39;S Sporting Goods today.</p>
<p>Ed Stack, Dick&#39;s son, is the current CEO and Chairman of DICK&#39;S Sporting Goods. He and his siblings bought the store from their father and are responsible for taking two stores and growing the chain to over 500 stores.</p>
<p>Dick&#39;s family continues to offer the finest quality products at competitive prices, backed by the best service anywhere. Like you, we have a real passion for sports.</p>
<p>Dick&#39;s Sporting Goods, Inc. is an authentic full-line sporting goods retailer offering a broad assortment of brand name sporting goods equipment, apparel and footwear in a specialty store environment. The Company owns and operates Golf Galaxy, LLC, a golf specialty retailer and eCommerce websites and catalog operations for both Dick&#39;s Sporting Goods and Golf Galaxy.</p>
</div>
<div id="About">
    <img src="AboutUS_Image.jpg" />
</div>

<% include footer %>