<% include header %>

<h2> Couldn't find what you were looking for?</h2>

<p>
    You've come to the right place!
</p>
<p>
    If you ever can't find anything in the store, go ahead and place an order on this machine
    and the order will be shipped straight to your home free of shipping charges!
</p>

<% include footer %>