<!DOCTYPE HTML>
<html>
<head>
    <title>Scoremore!</title>
    <link href="/style.css" type="text/css" rel="stylesheet" >
    <script type="text/javascript" src="/jquery-1.11.2.min.js"></script>

    <% if(typeof js_include !== 'undefined') {
        for(var i = 0; i < js_include.length; i++) { %>
            <script type="text/javascript" src="/<%= js_include[i] %>"></script>
    <%  }
       }
    %>
</head>
    <body>
        <% // single lin comment */ %>
        <% /* block
              comments
            */ %>
        <div id="header">
            <a href="/cart/current">

                <img src="/shopping_cart.png" height="auto" width="40dp" position="absolute" right="50px" top="20px" margin="0px" style="float: right">
            </a>
            <div style="color: white; float: right;">
                <br />
                Shopping Cart:
            </div>
            <h1>Scoremore</h1>

            </div>
        </div>

        <div id="nav">
            <a href="/" >Home</a> <br />
            <a href="/about" >About</a> <br />
            <a href="/product/all" >Product <br />
            <a href="/order/all" >Order</a> <br />
            <a href="/employee/all">Employees</a> <br />
            <a href="/store/all">Stores</a> <br />
        </div>
        <div id="content">