body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: white;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    color: white;

}

#edit a{
    text-align: center;
    color: black;
}

table a{
    color: black;
}

table{
    align: center;
}

#home{
    padding: 20%;
    vertical-align: middle;
    horiz-align: center;
}

#header {
    background-color: #006554;
    color:white;
    text-align:center;
    padding:5px;
}

#About{
    float: inherit;
}

#About_Center{
    float: inherit;
}

#content{
    min-height: 300px;
    height: auto;
    align-content: center;
    text-align: center;
    horiz-align: center;

}

#footer{
    vertical-align: inherit;
    font-style: oblique;
    text-align: center;
    background-color: #006554;
}

#change_store{
    text-align:right;
    padding:5px;
}

#nav {
    line-height: 30px;
    background-color: #006554;
    min-height: 300px;
    height: auto;
    width: 100px;
    float: left;
    padding: 5px;
    font-weight: 900;
}